.App {
  text-align: center;
  background: var(--background-clr);
  height: 100vh;
  width: 100vw;
  color: var(--basic-text-clr);
  font-family: var(--basic-font);
}
.navWrapper {
  display: flex;
  place-items: center;
  place-content: space-between;
}
.navWrapper > * {
  margin: 25px 50px;
}
.navHome {
  background: var(--standout-text-clr);
  -webkit-background-clip: text;
  color: transparent;
  font-family: var(--standout-font);
}
.navList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}
.navList > * {
  font-size: 25px;
}