  .App {
  text-align: center;
  background: var(--background-clr);
  height: 100vh;
  width: 100vw;
  color: var(--basic-text-clr);
  font-family: var(--basic-font);
}
#krisFrames {
  width: 750px;
  position: absolute;
  left: 10%;
  top: 15%;
}
.about {
  position: relative;
  left: 60%;
  top: 200px;
}
#tagLine {
  text-align: left;
  width: 250px;
  font-family: var(--standout-font);
}
#devRole {
  background: var(--standout-bg-clr);
  padding: 0 10px;
  font-family: var(--standout-font);
  width: max-content;
  font-size: 20px;
  border-radius: 5px;
}
#description {
  width: 400px;
  text-align: left;
  color: #9b9b9b;
}